#text-container {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin-top: 15%;
}

#text-container h1, h2 {
    text-align: center;
    font-family: "Poppins";
}

#text-container h1 {
    margin-bottom: -2%;
    font-size: 4rem;
    color: rgb(185, 185, 185);
}

#text-container h2.h2-one {
    margin-bottom: -2%;
}

#text-container h2 {
    font-size: 1.2rem;
    color: #04d361;
}

.button {
    width: 100%;
    display: flex;
    flex-direction: row;
    
    justify-content: center;
}

.button button {
    width: 20%;
    height: 4vw;

    border-radius: 5px;
    outline: none;
    border: none;

    background-color: #9466ff;
}

#github {
    background-color: #04d361;
}

#github:hover {
    background-color: #04a54d;
}

.button button:hover {
    background-color: #593d9b;
}

.button button a {
    font-family: "IBM Plex Sans";
    font-size: 1rem;
    font-weight: bold;
    color: #fff;

    text-decoration: none;
}

@media(max-width: 520px) {
    #text-container {
        margin-top: 7.5%;
    }
    
    #text-container h1 {
        font-size: 2rem;
    }
    
    #text-container h2 {
        font-size: 1rem;
    }
    
    .button button {
        width: 200px;
        height: 40px;
    }
}